.panel {
  margin: 10px;
  background-color: #fff;
  border-radius: 4px;
  border-color: #cfdbe2;
}

.panel p {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  text-align: center;
}

.panel-heading {
  color: #fff;
  background-color: #3a3f51;
  border-color: #3a3f51;
  padding: 15px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.panel-body {
  padding: 15px;
}
